body {
	padding-top: 80px;
}

.headroom {	
	position: fixed;
	transition: top 0.2s ease-out;
}
.headroom--pinned {
	top: 0;
}
.headroom--unpinned {
	top: -50px;
}

.btt {
	position:fixed;
	top: 200px;
	transition: all 0.2s ease-out;
}
.btt--unpinned {
	opacity: 0;
}
.btt--pinned {
	opacity: 1;
}