{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-unused-expressions": "error",
    "no-bitwise": "error",
    "camelcase": "error",
    "curly": "error",
    "eqeqeq": "error",
    "wrap-iife": ["error", "any"],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "linebreak-style": "error",
    "new-cap": "error",
    "no-caller": "error",
    "quotes": ["error", "double"],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ]
  }
}
