.article-header {
	border-bottom: 1px dashed #ccc;
}

.lead {
	.delta;
	font-weight: bold;
}

.feature-title {

	text-align: center;

	@media @lapBreakpoint {
		font-size: 112.5%;
	}

	@media @deskBreakpoint {
		font-size: 125%;
	}

	&__title {
		font-size: 2.5em;
		color: @lightColor;
		text-shadow: 1px 1px 1px fade(#000, 50);
		line-height: 1;
		display: block;
	}

	&__subtitle {
		.delta;
		color: @darkColor;
		margin: 0;
	}

}

.post-list {

}
.post {
	position: relative;
	margin-bottom: 2.5em;

	&__title {
		margin-bottom: 0.1em;

		a {
			border: none;
		}
	}

	&__date {
		display: block;
		margin-bottom: 0.5em;
		color: lighten(@darkColor, 35);
	}

	&__content {

	}
}
