.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;

  &--pinned {
    transform: translateY(0);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}

.sharing {
  &__button {
    .nano;

    @media @lapBreakpoint {
      .micro;
    }

    @media @deskBreakpoint {
      font-size: 1em;
    }
  }
}

.question-set {
  border: none;
  padding: 0;
  margin-bottom: 1.5em;

  &__title {
    display: block;
    margin-bottom: 0.75em;
  }
  &__input {
    width: 100%;

    padding: 0.25em;
    border: 1px solid lighten(@darkColor, 50%);
  
    &:focus {
      outline:none;
      box-shadow: @primaryColor 0 0 3px 0;
    }
  }
  &__label {
    display: inline-block;
    margin-bottom: 0.25em;

    &--block {
      display:block;
    }

    input[type=radio] {
      margin-right: 0.75em;
    }
  }
}

:not(pre) > code {
  background-color: lighten(@darkColor, 65);
  padding: 0.3em 0.2em 0.1em;
  border-radius: 0.25em;
}

p + h2,
p + h3 {
  margin-top: 1.5em;
}

.complimentary {
  display: none;
  @media @lapBreakpoint {
    display: inline;
  }
}

.subdued {
  opacity: 0.6;
  text-shadow: none;
}

a.subdued:hover {
  color: @lightColor;
}
.downloads {
  margin-bottom: 1.5em;
}