.push {
	margin: @atom;

	&--left {
		margin-left: @atom;
	}
	&--right {
		margin-right: @atom;
	}
	&--top {
		margin-top: @atom;
	}
	&--bottom {
		margin-bottom: @atom;
	}
}

.pad {
	padding: @atom;

	&--left {
		padding-left: @atom;
	}
	&--right {
		padding-right: @atom;
	}
	&--top {
		padding-top: @atom;
	}
	&--bottom {
		padding-bottom: @atom;
	}
}