{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": false
  },
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
    "cy": false,
    "beforeEach": false,
    "afterEach": false
  }
}
